@import url('https://fonts.googleapis.com/css2?family=Alice&family=Tenor+Sans&family=Tillana&display=swap');

//============================================Variables============================================================

$main_color: #00AC4E;
$text_primary: #333333;
$text_secondary: #828282;
$text_submenu: #4F4F4F;
$black_text: #000;
$gray-bg: #F1F1FB;
$white: #fff;
$delivery: #f8f8f8;


$xs: 1rem;
$s: 1.2rem;
$m: 1.5rem;
$l: 2rem;
$xl: 3rem;
$xxl: 3.7rem;

@mixin flex {
	display: flex;
	align-items: center;
}


//=================================================================================================================

//============================================Main styles==========================================================
body {
	font-family: 'Alice', sans-serif;
	font-size: $s;
}

h2 {
	color: $text_primary;
	font-family: 'Tenor Sans', sans-serif;
	font-weight: 400;
	font-size: $l;
	line-height: $l;
}

a {
	color: $text_primary;
	text-transform: capitalize;
}

button {
	background-color: $main_color;
	color: $white;
	font-size: $m;
	padding: 0.7rem $l;
	border-radius: 4.5px;
}

.container {
	max-width: 70%;
	margin: 0 auto;
}

.flex {
	@include flex;
	flex-direction: row;
}

a {
	font-family: 'Tillana', cursive;
}

//=================================================================================================================

//============================================Header styles========================================================
header {
	box-shadow: 0px 0px $xs rgba(0, 0, 0, 0.12);
}

.header {
	justify-content: space-between;
	padding: $l 0;

	a + a {
		margin-left: $xs;
	}

	.phone {
		img {
			width: $xs;
		}
	}

	img + img {
		margin-left: $l;
	}

}
//=================================================================================================================

//============================================Subscribe section styles=============================================
.subscribe {
	margin: $xxl 0 $xl 0;

	.content {
		align-items: flex-start;
		background-color: $gray-bg;
		border-radius: $s;

	}
	.text {
		margin: $xl 0 0 $xl;
		width: 60%;

		p {
			margin: $xs 0 $l 0;
			color: $text_secondary;
			font-size: $s;
			font-weight: 400;
		}
	}
	img {
		width: 40%;
	}
}
//=================================================================================================================

//============================================Menu section styles==================================================
.menu {
	.flex {
		justify-content: space-between;

		a, i {
			font-size: $m;
		}

		a {
			text-transform: uppercase;
			color: $text_submenu;
		}

		i {
			color: $main_color;
		}
	}

	h2 {
		margin-bottom: $l;
	}

	.products {
		margin-top: $xl;

		.flex {
			align-items: stretch;

			& ~ .flex{
				margin: $xl 0;
			}
		}
	}


	.product {
		width: 25%;

		& + .product {
			margin-left: $xxl;
		}

		img {
			width: 100%;
		}

		h4 {
			margin: 10px 0;
		}

		p {
			display: block;
			height: $xxl;
			font-family: 'Tenor Sans', sans-serif;
			line-height: $s;
			font-size: .8rem;
		}

		.stars {
			margin: $xs 0 11px 0;
		}

		i {
			color: $main_color;
			font-size: 11px;


			&:last-child {
				color: #ebebeb;
			}
		}

		button {
			margin-top: $s;
			font-size: $xs;
		}
	}

	.pages {
		@include flex;
		justify-content: center;
		font-size: $s;

		a {
			margin-right: $m;
		}
	}
}
//=================================================================================================================

//============================================Video section styles=================================================
.video {
	margin: $xxl 0;

	video {
		width: 100%;
	}
}
//=================================================================================================================

//============================================Delivery section styles==============================================

.delivery {
	margin-bottom: $xxl;
	background-color: $delivery;
	border-radius: $s;

	.text {
		padding: $xl;
		width: 60%;

		h3 {
			font-family: "Tenor Sans", sans-serif;
			font-size: $l;
			margin-bottom: 1.7rem;
		}
	}

	img {
		width: 40%;
	}
}
//=================================================================================================================

//============================================Footer styles========================================================
footer {
	background-color: $main_color;
	color: $white;
	padding: 2.5rem 0;

	.flex {
		justify-content: space-between;
		align-items: flex-start;
	}

	.content, .login {
		width: 50%;
	}

	.login {
		text-align: right;
	}
	
	a {
		color: $white;
		text-transform: none;
	}

	.social_medias {
		margin: $l 0;

		span {
			margin-left: $xl;

			.link-btn + .link-btn {
				margin-left: $xs;
			}
		}
	}

	.rights {
		a {
			font-size: 14px;
		
			& + a {
				margin-left: $xs;
			}
		}
	}
}
//=================================================================================================================